.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.inputFull {
  grid-column: span 12;
  width: 100%;
}

.inputHalf {
  grid-column: span 6;
  width: 100%;
}

input {
  width: 100%;
}
